*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 16px;
      }

        main {
            display: grid;
            justify-content: center;
            margin: auto;
            text-align: center;
            padding: 32px;
        }

        h1, h2 {
            color: #333;
            margin-top: 20px;
        }

        p {
            color: #555;
            margin-top: 10px;
        }

        .investment-details {
            margin: auto;
            width: 60%;
        }
        .investment-label{
            margin-top: 10px;
        }
        .investment-input{
            margin-top: 10px;
            border-radius: 10px;
            box-shadow: 3px 3px 4px black;
        }
      
        .btn-expand {
            background-color: #3498db;
            color: #fff;
            padding: 0.5em 16px;
            text-decoration: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
            display: inline-block;
        }
        .footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 16px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        @media screen and (min-width:768px) {
            main {
                display: flex;
                justify-content: left;
                margin: auto;
                text-align: none;
                padding: 32px;
            }
            .investment-details {
                margin: unset;
            }
        
        }