@import url(padrao_importe.css);

body{
    background-color: var(--azul-claro);
/*background: linear-gradient(150deg,var(--azul-claro),var(--azul-claro),var(--verde-claro),var(--verde-escuro));*/     
    font-family: 'Poppins', sans-serif;
}


/*Header*/
.barra-informacao {
    background-color: var(--verde-escuro);
    width: 100%;
    padding: 5px 3px;
    position: fixed;
    top: -40px; /* Inicia fora da visualização */
    transition: top 0.3s ease-in-out;
    z-index: 1000;
  }
  .barra{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    align-items: center;
  }
  .barra-h1{
    display: none;
    font-size: 0.8em;
    font-weight: bold;
  }
  .barra-h2{
    color: var(--branco-);
    font-size: 0.6em;
    font-weight: bold;
    width: 90%;
  }
  .barra-button-caixa{
    width: 70%;
  }
  .barra-button{
    background-color:var(--vermelho-);
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8em;
    color: var(--branco-);
    border: 0;
    border-radius:10px;
    padding: 3px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.418);
  }

  .cabecalho {
      background-color: var(--azul-escuro);
  }

  .cabecalho_cadrastro{
    display: flex;
    justify-content:space-between; 
    align-items:center;
  }

  .cabecalho_cadrastro-img{
    margin-left: 2px;
  }
  .cadrastro_img{
    width: 60%;
  }


  .cadrastro_configuracao{
    color: var(--branco-);
  }
  .cadrastro{
    background: none;
    border: 1px solid var(--branco-);
    text-shadow: 1px 1px 1px var(--preto-);
  }

  .cabecalho_cadrastro-link{
    display: flex;
    margin: 0px 10px;
  }
  .link{
    color: var(--branco-);
    font-size: 1.0em;
    text-decoration: none;
    font-weight: bold;
  }
  .cadrastro_link{
    background-color: var(--verde-escuro);
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.418);
  }



/*Menu idioma*/
.close{
  color: var(--branco-);
  float: right;
  margin: 10px 10px;  
}
.menu_text{
  margin-left: 20px;
  color: var(--branco-);
  font-weight: bold;
}
.menu_text-h1{
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 20px;
}
.menu_text-h2{
  font-size: 1.0em;
}
.menu_configuracao{
  display: none;
  background-color: var(--azul-escuro);
  height: 35vh;
  width: 90vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-80%);
}
.menu_linguagem{
  display: block;
  margin: 10px;
}
.menu-button{
  border: none;
  border-radius: 10px;
  background: var(--verde-claro);
  padding: 5px;
  margin: 10px;
}
.menu-lista{
  display: flex;
  align-items: center;
  font-size: 1.0em;
  font-weight: bold;
  color: var(--branco-);
}
.menu-img{
  width: 20px;
  margin-right: 4px;
}


/*MAIN*/
.principal_caixa{
  display: block;
  margin: auto;
  margin-top: 5px;
  text-align: center;
  color: var(--branco-);
  background-color: var(--azul-escuro);
}
.principal_caixa-h1{
  font-size: 2em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding: 10px 0;
}
.principal_caixa-p{
  font-size: 1em;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  width: 80%;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}
.cadrastro_bonus{
  display: block;
  background-color: var(--vermelho-);
  margin: auto;
  padding: 4px;
  width: 80%;
  border-radius: 10px;
  font-size: 1.5em;

}
.Bonus{
  padding: 10px;
}

/*Caixa De Aposta*/
.caixa_central{
  background-color: var(--azul-escuro);
  background: url('../Imagens/CASSINO.png');
  background-position:  center  ;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--branco-);
  display: block;
  margin: auto;
  margin-top: 5px;
}
.cassino_h1{
  font-size: 2em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin:20px 0 0 20px;
}
.cassino_p{
  font-size: 0.8em;
  font-family: 'Open Sans', sans-serif;
  width: 70%;
  font-weight: 700;
  margin:5px 0 0 20px;
  line-height: 20px;
}
.link_cassino{
  display: block;
  text-align: center;
  background-color:var(--vermelho-);
  width: 37%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin: 10px 0px 0px 20px;
}
.cassino_link{
  padding-bottom: 10px;
}
.esportes{
  width: 50%;
}
.caixa_esporte{
  background: none;
  background: url("../Imagens/CASSINO_ESPORTE.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.caixa_investimento{
  background: none;
  background: url("../Imagens/CASSINO_INVESTIMENTO.png");
  background-color: var(--azul-escuro);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*Caixa De longin principais*/
.principal_login{
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

.imagem_passo{
  width: 40%;
  border: 1px solid var(--branco-);
  padding: 2px 5px;

}

/*Passo a Passo*/
.princiapl_passo-cadrastro{
  display: block;
  text-align: center;
  margin: auto;
  width: 100%;
}
.informacao{
  display: flex;
  justify-content: center;
  align-items: center;
}
.infromacao_h1{
  font-size: 0.8em;
  font-weight: bold;
  color: var( --azul-claro);
}

.iformacao_Seta::before{
  margin: 0px 5px;
  color: var(--branco-);
  content: ">";
}

/*Metado de pagemento */



/*footer*/

.roda-pe{
  margin: 10px 2px;
}
.roda-pe_caixa{
  display: block;
}
.roda-pe_iconsSocial{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;

}
.roda-pe_logo{
  width: 50%;
}
.roda-pe_Social{
  width:10%;
  margin: 0 10px;
}

.informacao_rodape{
  display: block;
  text-align: center;
  margin: auto;
  width: 80%;
  margin: 0 10px 10px 10px;
}
.informacao_caixa{
  display: flex;
  justify-content: center;

}
.lista_texto{
  font-size: 1.2em;
  color: var(--branco-);
  list-style: none;
}
.lista_texto:hover{
  color: var(--azul-escuro);
}